.form-heading
%h2
  Documents
- if can? :manage, Attachment
  = link_to "Add Document", "#document_modal_new", "data-toggle" => "modal",  data: {'no-turbolink' =>  true}, class: 'btn btn-primary mb-5'
.align.align-right
  - if can? :manage, Attachment
    %button{ type: 'button', id: 'doc_show', role: 'button',class: 'btn btn-primary mb-5'} Show All
%br
%br
.form-horizontal#attachment_list
  = render 'attachments_list', documents: @company_docs

:css 
  .table td{ border-top: 1px solid white; padding: 0px;}
